
<div>
    <div class="text-center pb-5">
        <img style="width: 400px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/220px-International_Pok%C3%A9mon_logo.svg.png" alt="logo">
    </div>

    <div class="text-center pb-5">
        <img style="width: 300px;" src="https://dthezntil550i.cloudfront.net/44/latest/441905120856259950009334899/1280_960/417ea203-49b4-49ea-aa18-7d45fcdf8bc8.png" alt="logo">    
    </div>
    
    <div class="text-white">
        <h2>Cerca il tuo Pokemon preferito!</h2>  
    </div>
    
</div>
